.main2 {
    display: grid;
    grid-template-areas: 
    'header header'
    'article nav'
    'footer footer';
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    font-family: 'Roboto', Arial, sans-serif;
}
.header2 {
    grid-area: header;
    background-color: red;
    padding: 10px;
    text-align: center;
}
  
.article2 {
    grid-area: article;
    background-color: orange;
    padding: 10px;
}
  
.nav2 {
    grid-area: nav;
    background-color: green;
    padding: 10px;
}
  
.footer2 {
    grid-area: footer;
    background-color: blue;
    padding: 10px;
    text-align: center;
}
.table2 {
}
.oldal1th{
    background-color: gray;
}
.oldal1header{
    text-align: center;
}
.tablazatoldal1{
    width: 100%;
    margin: auto;
    padding-top: 30px;
}
table{
    width: 50%;
    height: 15vh;
}
.table1 td{
    border: 1px solid gray;
}
.keptd{
    width: 100px;
}
.nav2 ul {
    list-style-type: none;
}
.article2 ul li {
    background-color: aqua;
}

