.main2 {
    display: grid;
    grid-template-areas: 
    'header header'
    'article nav'
    'footer footer';
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: rgb(54, 51, 119);
}
.header2 {
    grid-area: header;
    background-color: rgb(10, 9, 59);
    padding: 10px;
    text-align: center;
    color: darkcyan;
}
.article2 {
    grid-area: article;
    background-color: rgb(27, 26, 89);
    padding: 10px;
}
.nav2 {
    grid-area: nav;
    background-color: rgb(86, 85, 149);
    padding: 10px;
    text-align: center;
}
.footer2 {
    grid-area: footer;
    background-color: rgb(129, 128, 178);
    padding: 10px;
    text-align: center;
}
.oldal1th{
    background-color: gray;
}
.oldal1header{
    text-align: center;
}
.tablazatoldal1{
    width: 100%;
    margin: auto;
    padding-top: 30px;
}
table{
    width: 100%;
    height: 15vh;
}
.table1 td{
    border: 1px solid gray;
}
.keptd{
    width: 100px;
}
.nav2 ul {
    list-style-type: none;
}
.article2 ul li {
    background-color: aqua;
}
.nevtd{
    width: 150px;
}
.gyartastd{
    width: 90px;
}
p{
    color: white;
}
.szintdrs7{
    background-color: rgb(21, 21, 143);
}
.szintdurus{
    background-color: rgb(170, 231, 1);
}
.szintdamg{
    background-color: black;
}
.szintdchiron{
    background-color: aqua;
}
li{
    list-style: none;
}
a{
    color: white;
}
.table2 {
    width: auto;
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
    color: white;
}
button:hover {
    background-color: green;
    color: black;
}
button {
    padding: 10px 20px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 150px;
}

@media (max-width: 768px) {
    .main2 {
        grid-template-areas: 
        'header'
        'nav'
        'article'
        'footer';
        grid-template-columns: 1fr;
    }
}